name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 24.x
      uses: actions/setup-node@v4
      with:
        node-version: 24.x
        cache: 'npm'
    - run: npm install
    - run: npm run build
    - name: Upload GitHub Pages artifacts
      uses: actions/upload-pages-artifact@v4.0.0
      with:
        path: dist/
    - name: Deploy
      uses: actions/deploy-pages@v4.0.5
